$theme-name: 'greenfleet';
$base-color: #ececec;
$font-family: Trebuchet MS,tahoma,arial,verdana,sans-serif !default;

//toolbar
$toolbar-background-gradient:none;

@import 'compass';
@import 'ext4/default/all';