.wrap{background:url('../image/bgHeader.gif') repeat-x}
#content-body{background-color:#efefef}
.backgroundNone{background:none}

/* msg */
.msg .x-box-mc {font-size:14px;}
#msg-div {position:absolute;right:2%;bottom:30px;width:300px;z-index:20000;}
#msg-div .msg {
    border-radius:5px;
    -moz-border-radius:5px;
    background: #ffffff;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {margin: 0 0 8px;font-weight: bold;font-size: 15px;}
#msg-div .msg p {margin: 0;}

/*header style*/
.header{background:url('../image/bgLogo.gif') no-repeat}
.header .x-panel-body-default,.x-toolbar-default{background-color:transparent}
.header .x-tab-bar-top .x-tab-bar-body{border:none;height:22px;margin-top:1px}
.header .x-border-box .x-tab-bar-top .x-tab-bar-body{height:23px !important}
.header .x-btn-default-toolbar-small{border:0;}
.header .x-tab-bar{background:none}
.header .x-tab-default-top{background-color:#111d2e;background-image:none;border:1px solid #111d2e;box-shadow:none;height:22px}
.header .x-tab button {color:#a9bbcc;font-size:12px;font-weight:normal}
.header .x-tab-default-over,.header .x-tab-default-active{background-color:#fdfdfd;background-image:none;border:1px solid #111d2e;box-shadow:none;height:22px}
.header .x-tab-default-active.x-tab button,.header .x-tab-default-over.x-tab button{color:#333;font-weight:bold}
.header a{background:url('../image/logoGreenfleet.gif') no-repeat;width:125px;height:45px;display:block;margin:7px 0 0 4px}
.header .x-tab-bar-top .x-tab-bar-strip{height:0px;border:0}

.appMenu.x-toolbar{padding:0}
.appMenu .x-btn-default-toolbar-small .x-btn-inner{color:#b7b7b7;font-size:14px}
.appMenu .x-btn-default-toolbar-small{border:0;height:39px;padding:8px 5px 0 5px;margin-right:10px}
.appMenu .x-btn-default-toolbar-small-over,.appMenu .x-btn-default-toolbar-small-active,.appMenu .x-btn-default-toolbar-small-focus
{background:url('../image/iconFocusDownArrow.png') 50% 0 no-repeat;border:none;padding:8px 5px 0 5px;color:#fff !important;border:none;background-color:transparent}
.appMenu .x-btn-default-toolbar-small-over .x-btn-inner,.appMenu .x-btn-default-toolbar-small-active .x-btn-inner,.appMenu .x-btn-default-toolbar-small-focus .x-btn-inner
{color:#fff}
.sideMenu .x-btn-default-toolbar-small .x-btn-inner{color:#b7b7b7;font-size:11px}
.sideMenu .x-btn-default-toolbar-small-over .x-btn-inner{color:#fff;font-size:11px}
.sideMenu .x-btn-default-toolbar-small-over{background:none}
.tool{background:url('../image/bgTool.gif') repeat-y}

.x-panel-body-default,.x-toolbar{border:none;background:none;background-color:transparent}
.btnLogout{background:url('../image/iconLogout.png') 50% 0 no-repeat;width:25px;height:20px;margin-left:7px}
.btnHome{background:url('../image/iconHome.png') 50% 0 no-repeat;width:25px;height:20px;margin-left:7px}
.btnReport{background:url('../image/iconReport.png') 50% 0 no-repeat;width:25px;height:20px;margin-left:7px}
.btnSetting{background:url('../image/iconSetting.png') 50% 0 no-repeat;width:25px;height:20px;margin-left:7px}
.btnEastHidden{background:url('../image/iconEastHidden.png') 50% 0 no-repeat;width:25px;height:20px;margin-left:7px}
.btnLogout:hover{background:url('../image/iconLogoutOn.png') 50% 0 no-repeat;}
.btnHome:hover{background:url('../image/iconHomeOn.png') 50% 0 no-repeat;}
.btnReport:hover{background:url('../image/iconReportOn.png') 50% 0 no-repeat;}
.btnSetting:hover{background:url('../image/iconSettingOn.png') 50% 0 no-repeat;}
.btnEastHidden:hover{background:url('../image/iconEastHiddenOn.png') 50% 0 no-repeat;}

/*tool style*/
.tool{padding:2px 0 0 0}
.tool .x-btn-default-small{width:50px;height:55px;padding-top:37px;font-size:10px;color:#ccc;text-transform:capitalize;text-align:center;border:0;border-bottom:1px solid #474b55}
.tool .btnDashboard{background:url('../image/iconDashboardOff.png') 10px 9px no-repeat;}
.tool .btnDashboard.x-btn-default-small-over,.tool .btnDashboard.active{background:url('../image/iconDashboardOn.png') no-repeat;color:#fff}
.tool .btnInfo{background:url('../image/iconInfoOff.png') 9px 7px no-repeat;}
.tool .btnInfo.x-btn-default-small-over,.tool .btnInfo.active{background:url('../image/iconInfoOn.png') no-repeat;color:#fff}
.tool .btnIncidentInfo{background:url('../image/iconIncidentInfoOff.png') 10px 5px no-repeat;}
.tool .btnIncidentInfo.x-btn-default-small-over,.tool .btnIncidentInfo.active{background:url('../image/iconIncidentInfoOn.png') no-repeat;color:#fff}

.tool .btnEvent{background:url('../image/iconEventOff.png') 58% 10px no-repeat;padding-top:33px}
.tool .btnEvent.x-btn-default-small-over{background:url('../image/iconEventOn.png') 58% 10px no-repeat;color:#fff}
.tool .btnSave{background:url('../image/iconSaveOff.png') 58% 10px no-repeat;padding-top:33px}
.tool .btnSave.x-btn-default-small-over{background:url('../image/iconSaveOn.png') 58% 10px no-repeat;color:#fff}
.tool .btnExport.x-btn-default-small{background:url('../image/iconExportOff.png') 58% 10px no-repeat;padding-top:33px}
.tool .btnExport.x-btn-default-small-over{background:url('../image/iconExportOn.png') 58% 10px no-repeat;color:#fff}
.tool .btnImport.x-btn-default-small{background:url('../image/iconImportOff.png') 58% 10px no-repeat;padding-top:33px}
.tool .btnImport.x-btn-default-small-over{background:url('../image/iconImportOn.png') 58% 10px no-repeat;color:#fff}

/*grid style*/
.x-grid-header-ct{border-left:none}
.x-grid-row{height:24px;vertical-align:middle}
.x-grid-row-over .x-grid-cell{background-image:none !important;background-color:#e1efcd !important;border-style:solid;border-color:#cae0aa}
.x-grid-row-over .x-grid-cell-first{background-color:#d5e9b8 !important;}
.x-grid-row-selected .x-grid-cell{background-image:none !important;background-color:#dbe5f6 !important;border-style:solid;border-color:#bbd0f3}
.x-grid-row-selected .x-grid-cell-first{background-color:#c5d4ef !important;}

/*summary board style*/
.summaryBoard{border-width:0px;border-left:2px solid #2f3137;background-color:#43464f}
.summaryBoard .searchField{background:url('../image/bgSearchField.gif') repeat-x;height:35px;border-bottom:1px solid #23252d;color:#959595}
.searchField .x-form-text{
	background:none;background-color:#31343f;border:1px solid #616670;padding-right:25px;width:120px;
	-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;color:#ccc
}
.searchField .x-form-item-body{top:5px}
.searchField .x-form-trigger{background:url('../image/btnSearchIcon.gif') no-repeat;border:none;margin-left:-9px;width:27px}
.x-boundlist-floating{background-color:#f0f0f0;opacity:0.95;filter:alpha(opacity=95);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:5px 4px}
.x-boundlist-floating .x-boundlist-item{background:url('../image/dotGray.gif') 4px 10px no-repeat;border:none;border-bottom:1px solid #dfdfdf;padding:5px 2px 3px 11px}
.appSearchItem{color:#333}
.appSearchItem .id{color:#1b304e}
.x-boundlist-selected.x-boundlist-item,.x-boundlist-item-over.x-boundlist-item{background-color:#fff;}
.summaryBoard .x-form-item-label{padding:10px 0 0 7px;font-size:11px;}
.summaryBoard .time{background:url('../image/iconTime.gif') 6px 4px no-repeat;color:#77bdff;padding:4px 3px 2px 25px;font-size:14px}
.summaryBoard .count{background:url('../image/iconBus.gif') 6px 4px no-repeat;color:#fff;padding:4px 3px 2px 25px;margin-bottom:10px}
.summaryBoard .x-panel-header-default{background:none;background-color:transparent;border:none}
.summaryBoard .x-panel-header-text-default{color:#6493c7;font-weight:normal}
.summaryBoard .x-panel-header-default-top{box-shadow:none;border-top:1px solid #323641}
.summaryBoard .statusPanel,.summaryBoard .groupPanel,.summaryBoard .incidentPanel{background:url('../image/bgSummaryPanel.gif') 0 100% repeat-x;}
.statusPanel .x-btn-default-small{background:none;background-color:transparent;border:0} 
.statusPanel .btnDriving,.statusPanel .btnStop,.statusPanel .btnIncident,.statusPanel .btnMaint{width:43px;height:85px;margin:0 0 5px 6px;padding-top:50px;color:#ccc;text-align:center;font-size:11px}
.statusPanel .btnDriving.x-btn-default-small{background:url('../image/statusDriving.png') 50% 5px no-repeat;}
.statusPanel .btnStop.x-btn-default-small{background:url('../image/statusStop.png') 50% 5px no-repeat;}
.statusPanel .btnIncident.x-btn-default-small{background:url('../image/statusIncident.png') 50% 5px no-repeat;}
.statusPanel .btnMaint.x-btn-default-small{background:url('../image/statusMaint.png') 50% 5px no-repeat;}
.statusPanel .x-btn-default-small span{font-size:18px;color:#fff}
.statusPanel .x-btn-default-small-pressed{background-color:#252937;border:1px solid #4e5774}
.groupPanel,.incidentPanel{padding-bottom:5px}
.groupPanel a{background:url('../image/dotGray.gif') 8px 50% no-repeat;color:#ccc;padding:1px 0 4px 15px;text-decoration:none;display:block}
.groupPanel a span,.groupPanel a:hover{color:#fff}
.incidentPanel a{background:url('../image/dotRed.png') 8px 4px no-repeat;color:#fff;padding:1px 0 4px 20px;text-decoration:none;display:block}
.incidentPanel a span{display:block;font-size:11px;color:#a5a5a5;}
.incidentPanel .x-btn-default-small-over a{color:#fff799}
.incidentPanel .x-btn-default-small-over a span{color:#fff}
.summaryBoard .x-btn-default-small{background-image:none;background-color:transparent;border:none}

/*common style*/
.pageTitle{background:url('../image/bgH1.gif') repeat-x;border-bottom:1px solid #aeaeae;padding:5px 5px 0 10px}
.pageTitle h1{background:url('../image/iconH1.png') no-repeat;padding:1px 0 0 30px;height:26px;color:#333;font-size:19px;font-weight:normal}
.listTitle{background:url('../image/bgH1.gif') repeat-x;border-bottom:1px solid #c0c0c0;padding:7px 5px 5px 7px;color:#4B638F;font-weight:bold;font-size:13px}
.x-panel-header-default{box-shadow:none;background-color:transparent}
.x-panel-header-text-default,.x-tab-active button{color:#4b638f}
.imgDriver{background:url('../image/bgDriver.png') 4px 4px no-repeat;width:120px;height:125px;background-color:#fff;border:1px solid #c0c0c0;margin-right:20px}
.imgVehicle{background:url('../image/bgVehicle.png') 4px 4px no-repeat;width:120px;height:125px;background-color:#fff;border:1px solid #c0c0c0;margin-right:20px}
.paddingPanel{padding:3px 13px}
.paddingTop10{margin-top:10px}
.paddingRight10{margin-right:10px}
.paddingBottom10{margin-bottom:10px}
.paddingLeft5{padding-left:5px}
.paddingleft10{margin-left:10px}
.marginAll10{padding:10px}
.paddingAll10{margin:10px}
.paddingLeft5{padding-left:5px}
.backgroundGray{background-color:#dfdfdf}
.borderLeftGray{border-left:1px solid #ccc}
.borderRightGray{border-left:1px solid #ccc}
.floatLeft{float:left}
.floatRight{float:right}
.floatClear{clear:both}
#content-body .x-tab-bar,#content-body .hIndexbar,.hIndexbarZero{background:url('../image/bgTab.gif') repeat-x;}
#content-body .hIndexbar{background-position:0 -4px}
#content-body .hIndexbarZero{background-position:0 -1px}
.hIndexbar .x-panel-header-text-default,.hIndexbarZero .x-panel-header-text-default{padding:2px 0 0 3px;color:#fff}
.hIndexbarZero .x-docked-top{border-top:1px solid #5F7291}
#content-body .x-tab-default-top{background:url('../image/bgTabItem.gif') repeat-x;box-shadow:none;border-bottom:0}
#content-body .x-tab-default-top.x-tab button{color:#51698b;font-weight:normal}
#content-body .x-tab-default-top-active{background:url('../image/bgTabItemActive.gif') repeat-x;}
#content-body .x-tab-default-top-active.x-tab button{color:#51698b;font-weight:normal}
#content-body .x-tab-bar-body{border:0}
.x-column-header-align-left,.x-column-header-align-center,.x-column-header-align-right{text-align:center}
#content-body .x-btn-default-toolbar-small{background:url('../image/bgBtn.gif') repeat-x;border:1px solid #b4c5e1;color:#253857}
#content-body .x-btn-default-toolbar-small-over{background:url('../image/bgBtnOver.gif') repeat-x;}
.x-btn-default-toolbar-small .x-btn-inner{color:#475e82}
.x-toolbar-docked-bottom{background:url('../image/bgBtnBar.gif') 0 100% repeat-x;border-top:1px solid #aaabab !important;padding:3px 9px 3px 0}
#content-body .x-toolbar-docked-bottom .x-btn-default-toolbar-small{background:url('../image/bgBtnBarBtn.gif') repeat-x;border:1px solid #5185b9;}
#content-body .x-toolbar-docked-bottom .x-btn-default-toolbar-small-over{background:url('../image/bgBtnBarBtnOver.gif') repeat-x;border:1px solid #2e5986;}
#content-body .x-toolbar-docked-bottom .x-btn-default-toolbar-small .x-btn-inner{color:#d6e3f1}
#content-body .x-toolbar-docked-bottom .x-btn-default-toolbar-small-over .x-btn-inner{color:#fff}
#content-body .pagingtoolbar.x-toolbar-docked-bottom .x-btn-default-toolbar-small{background:none;border:none;}
.pagingtoolbar .x-tbar-page-first{background:url('../image/iconPagination.png') 5px 3px repeat-x !important;}
.pagingtoolbar .x-tbar-page-prev{background:url('../image/iconPagination.png') -20px 3px repeat-x !important;}
.pagingtoolbar .x-tbar-page-next{background:url('../image/iconPagination.png') -43px 3px repeat-x !important;}
.pagingtoolbar .x-tbar-page-last{background:url('../image/iconPagination.png') -72px 3px repeat-x !important;}
.pagingtoolbar .x-tbar-loading{background:url('../image/iconPagination.png') -97px 3px repeat-x !important;}
.x-toolbar .x-toolbar-separator-horizontal{border-left:1px solid #b4b4b4;border-right:1px solid #efefef}
.dotUnderline{border-bottom:1px dotted #ccc;padding:0 0 1px 0}
.noImage{background:url('../image/noImage.gif') 50% 50% no-repeat;}
.x-boundlist-item-over,.x-boundlist-selected{border-color:#9ebfe4;background-color:#e2ebf7}

.iconHealthHealthy{background:url('../image/iconHealthH.png') 50% 3px no-repeat;}
.iconHealthImpending{background:url('../image/iconHealthI.png') 50% 3px no-repeat;}
.iconHealthOverdue{background:url('../image/iconHealthO.png') 50% 3px no-repeat;}

/*map style*/
span.mapTipID{
	position:relative;left:-50%;top:-58px;white-space:nowrap;border:1px solid #7499b5;padding:2px 5px;font-size:11px;
	background:url('../image/bgMapTip.gif') repeat-x;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
.incidentThumb{background:url('../image/statusIncident.png') 3px 7px no-repeat;width:150px;padding-left:40px;border-right:1px dotted #c0c0c0}
.incidentThumb div{padding:3px 0 2px 22px;margin-right:10px;color:#585858}
.incidentThumb .vehicle{background:url('../image/icon15Vehicle.gif') 2px 50% no-repeat;padding-left:22px;font-weight:bold;color:#333}
.incidentThumb .driver{background:url('../image/icon15Driver.gif') 2px 50% no-repeat;padding-left:22px}
.incidentThumb .date{background:url('../image/icon15Date.gif') 2px 50% no-repeat;padding-left:22px}

/*incident style*/
.incidentSummary{background:url('../image/bgH1.gif') 0 100% repeat-x;background-color:#fdfdfd;padding:5px 0 0 5px}
.imgDriverSmall{background:url('../image/bgPhotoSmall.gif') no-repeat;border:1px solid #9da8b2;width:35px;height:37px;margin:0 10px 5px 0}
.backgroundGray .map{width:100%;height:95%;border-bottom:1px solid #c0c0c0}
.summaryCell{display:inline-block;margin-right:25px}
.summaryCell label{white-space:nowrap;font-size:11px;color:#797979}
.summaryCell .x-form-item-body{background-color:#50545f;border:1px solid #efefef;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.summaryCell .x-form-item-body .x-form-display-field{color:#fff;white-space:nowrap;padding:4px 5px 0 5px;}
.labelStyle1{font-size:11px;color:#797979}
.incidentDetail{background-color:#50545F;}
.btnFullscreen{background:url('../image/btnFullscreenOff.png') no-repeat;border:none;position:absolute;display:block;z-index:100;width:26px;height:21px;right:0;cursor:pointer}
.btnFullscreen:hover{background:url('../image/btnFullscreenOn.png') no-repeat;}
.incidentVOD .x-panel-body{background:url('../image/bgVOD.gif') 50% 50% no-repeat;background-color:#dfdfdf;border:1px solid #c0c0c0}

/*Maintenance style*/
.maintCell{background:url('../image/imgMaint.gif') 9px 5px no-repeat;margin:5px 5px 0 5px;padding:7px 10px 7px 55px;background-color:#fff;color:#333;font-size:11px;border:1px solid #dfdfdf}
.maintCell span{display:block;border-bottom:1px dotted #cfcfcf;padding-bottom:3px;margin-bottom:3px;color:#478802;}
.healthDashboard{background-color:#dfdfdf;border:1px solid #c0c0c0}
.x-progress .x-grid-cell-inner{margin:0;padding:1px;height:15px;background-color:#666}
.x-progress-default .x-progress-bar{background:url('../image/bgProgressBar.gif') no-repeat;}
.x-progress-text{height:13px;line-height:13px;font-size:10px}
.x-progress-bar{height:13px;border:none}
.x-progress-default .x-progress-text-back{color:#ccc}

/*window style*/
.x-window-header-default-top{box-shadow:none;background:url('../image/bgTab.gif') repeat-x;}
.x-window-header-text-default{color:#fff;font-size:13px;font-weight:bold}
.x-window-default{border-color:#5F7291;background-color:#6982aa;padding:3px;box-shadow:none}
